[Desktop Entry]
Name=aster
Exec=/usr/lib/aster/aster %U
Icon=/usr/share/pixmaps/aster.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/aster;