name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:
    branches:
      - main
  workflow_dispatch:

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      docs-only: ${{ steps.filter.outputs.docs-only }}
      code: ${{ steps.filter.outputs.code }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v4

      - name: Check for file changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # pin@v3
        id: filter
        with:
          filters: |
            docs-only:
              - 'documentation/**'
            code:
              - '!documentation/**'

  rust-format:
    name: Check Rust Code Format
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.code == 'true' || github.event_name != 'pull_request'
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Run cargo fmt
        run: cargo fmt --check

  rust-build-and-test:
    name: Build and Test Rust Project
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.code == 'true' || github.event_name != 'pull_request'
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install Dependencies
        run: |
          sudo apt update -y
          sudo apt install -y libdbus-1-dev gnome-keyring libxcb1-dev

      - name: Cache Cargo artifacts
        uses: Swatinem/rust-cache@v2

      - name: Build and Test
        run: |
          gnome-keyring-daemon --components=secrets --daemonize --unlock <<< 'foobar'
          export CARGO_INCREMENTAL=0
          cargo test -- --skip scenario_tests::scenarios::tests
          cargo test --jobs 1 scenario_tests::scenarios::tests
        working-directory: crates


  rust-lint:
    name: Lint Rust Code
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.code == 'true' || github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - uses: Swatinem/rust-cache@v2

      - name: Lint
        run: |
          export CARGO_INCREMENTAL=0
          ./scripts/clippy-lint.sh

  openapi-schema-check:
    name: Check OpenAPI Schema is Up-to-Date
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.code == 'true' || github.event_name != 'pull_request'
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: ui/desktop/package-lock.json

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Cache Cargo artifacts
        uses: Swatinem/rust-cache@v2

      - name: Install Node.js Dependencies for OpenAPI Check
        run: npm ci
        working-directory: ui/desktop

      - name: Check OpenAPI Schema is Up-to-Date
        run: just check-openapi-schema

  desktop-lint:
    name: Test and Lint Electron Desktop App
    runs-on: macos-latest
    needs: changes
    if: needs.changes.outputs.code == 'true' || github.event_name != 'pull_request'
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: ui/desktop/package-lock.json

      - name: Install Dependencies
        run: npm ci
        working-directory: ui/desktop

      - name: Run Lint
        run: npm run lint:check
        working-directory: ui/desktop

      - name: Run Tests
        run: npm run test:run
        working-directory: ui/desktop
